<h4 class="mb-3 border-bottom border-dark w-100">Cambiar contraseña</h4>
<div class="estructura">
    <label for="nuevaPassword">Nueva contraseña:</label>
    <input id="nuevaPassword"
        type="password"
        [(ngModel)]="nuevaPassword"
        name="password"
        pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\S{8,20}$'
        #passwordRef="ngModel">
</div>
<div *ngIf="passwordRef.invalid && passwordRef.touched" class="error">
    <p *ngIf="passwordRef.errors?.['pattern']">
        Debe contener al menos una mayúscula, una minúscula, un número, sin
        espacios, mínimo 8 caracteres y máximo 20.
    </p>
</div>
<div class="estructura">
    <label for="confirmarPassword">Repetir contraseña:</label>
    <input id="confirmarPassword"
        type="password"
        [(ngModel)]="confirmarPassword"
        name="password"
        required
        #nuevaPasswordRef="ngModel">
    <div *ngIf="nuevaPasswordRef.invalid && nuevaPasswordRef.touched"
        class="error">
        <p *ngIf="nuevaPasswordRef.errors?.['required']">
            El campo es obligatorio.
        </p>
    </div>
</div>
<div class="text-end me-3">
    <button type="button"
        class="btn btn-warning rounded me-1"
        (click)="modificarPassword()">
        Actualizar
    </button>
</div>
<p
    [ngClass]="mensajeError ? 'container text-danger p-2 mt-3 text-center' 
                            : 'container text-success p-2 mt-3 text-center'"
    *ngIf="mensaje">
    {{ mensaje }}
</p>
