input {
    width: 20rem;
    margin: 1rem;
    padding: 0.3rem;
}

#confirmarPassword {
    margin-left: 0.7rem;
}

.estructura {
    display: flex;
    align-items: center;
    gap: 15px;
}

.error {
    margin-left: 1rem;
    color: rgb(183, 37, 37);
}

button {
    max-width: 25vw;
}

@media (max-width: 430px) {
    .estructura {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    input {
        margin: 0;
        max-width: 70vw;
    }

    #confirmarPassword {
        margin-left: 0;
    }

    button {
        margin-top: 1rem;
        max-width: 70vw;
    }
}