#logo {
    width: 8rem;
}

a {
    font-weight: bold;
    text-align: center;
}

a:hover {
    cursor: pointer;
}

.sombreado:hover {
    color:white;
}

#botonEnviar {
    background-color: aqua;
}

#botonEnviar i {
    color: black;
}

#botonEnviar:hover, #botonEnviar i:hover {
    background-color: rgb(1, 192, 192);
}

#login i {
    color: #FFFFFF8C;
    font-weight: bold;
}

#iconoLogin {
    font-size: 1.5rem;
    width: 2rem;
}

@media (max-width: 992px) { /* Solo afecta en pantallas pequeñas */
    #login {
      width: 100%;
      padding-top: 10px;
      position: relative;
    }
    a {
        text-align: start;
    }

    #botonCollapse {
        margin-right: 1.5rem;
    }
}
  