<div class="container mt-4">
    <h3>
        <img class="mx-3 my-1"
            src="img_footer.png"
            alt="Cara de Luffy - One Piece">
        Condiciones de Uso
    </h3>
    <div class="container bg-dark text-white p-3 rounded mt-4">
        <p>En el momento que usted, el usuario, nos facilita información de
            carácter personal a través de AnimePhix (en adelante, el “Sitio
            Web”) se respeta su intimidad y los derechos que le reconoce la
            normativa sobre protección de datos de carácter personal. Por ello,
            es importante que entienda que información recabamos acerca de usted
            durante su visita y qué hacemos con dicha información la cual estará
            sujeta a la siguiente política sobre el tratamiento de datos
            personales.</p>

        <p>Recomendamos leer detenidamente los siguientes puntos sobre nuestra
            Política de Privacidad; los que brindarán la total seguridad de que
            usted esta dentro de un sitio que protege su información e
            identidad.</p>

        <p><strong>Seguridad y protección de datos personales:</strong> La
            seguridad de sus datos
            personales es una prioridad para este sitio web el cual ofrece
            seguridad total. Sin embargo, no nos responsabilizamos por las
            actividades de hackers o terceros que realizan acciones para dañar
            romper la seguridad que cada sitio brinda. Teniendo en consideración
            las características técnicas de transmisión de información a través
            de Internet, ningún sistema es 100% seguro o exento de ataques.</p>

        <p><strong>Responsabilidad de opiniones:</strong> Este sitio web solo se
            responsabiliza
            de las publicaciones aquí expuestas a manera de posts, mas no de los
            comentarios de éstas, ya que son realizados por terceros y/o
            visitantes del sitio.</p>

        <p><strong>Su Privacidad:</strong> Este sitio web respeta la privacidad
            de cada uno de
            sus visitantes. Toda información ingresada por el usuario a través
            de nuestro sitio web, será tratada con la mayor seguridad, y sólo
            será usada de acuerdo con las limitaciones establecidas en este
            documento.</p>

        <p><strong>Obtención de información:</strong> Este sitio web obtiene los
            datos personales
            suministrados directa, voluntaria y conscientemente por cada
            usuario. La información personal que solicitamos corresponde a datos
            básicos los cuales serán solicitados a través de los diferentes
            formularios que se publiquen aquí.</p>

        <p><strong>Uso de la información:</strong> Al suministrar datos
            personales,
            automáticamente estará autorizándonos para usar sus datos personales
            de conformidad con nuestra Política de Privacidad, lo cual comprende
            los siguientes eventos: a) para el propósito específico para el cual
            la ha suministrado; b) para incrementar nuestra oferta al mercado y
            hacer publicidad de productos que pueden ser de sumo interés para el
            usuario; incluyendo los llamados para confirmación de su
            información, y c) para personalizar y mejorar nuestros productos y
            servicios.</p>

        <p><strong>Acceso a su información:</strong> El sitio web tiene el
            compromiso permanente
            de presentar nuevas soluciones que mejoren el valor de sus productos
            y servicios; con el objeto de ofrecer oportunidades especiales de
            mercado, como incentivos, promociones y novedades actualizadas.
            AnimePhix no comercializa, vende ni alquila su base de datos a otras
            empresas.</p>

        <p><strong>Revelación de información:</strong> En ningún momento se
            utiliza o revela a
            terceros, la información individual de los usuarios así como los
            datos sobre las visitas, o la información que nos proporcionan:
            nombre, dirección de correo electrónico, contraseñas, etc.</p>

        <p class="mb-0"><strong>Modificaciones a nuestra Política de
                Privacidad:</strong> El sitio web se
            reserva en forma exclusiva el derecho de modificar, rectificar,
            alterar, agregar o eliminar cualquier punto del presente escrito en
            cualquier momento y sin previo aviso.</p>
    </div>
</div>
