<div class="container mt-3">
    <h2 id="titulo" class="my-4 w-100">Tus animes favoritos</h2>
    <p *ngIf="mensajeError"
        class="fs-4 ms-5 mt-5">
        {{ mensaje }}
    </p>
    <ul *ngFor="let anime of favoritos"
        class="mt-3 ms-4 list-unstyled ps-3">
        <li *ngIf="!mensajeError" class="d-flex align-items-center">
            <img [src]="anime.urlImagen" alt="anime.nombre" />
            <div id="contenido" class="ms-4">
                <i id="remover" 
                    class="fa-solid fa-trash-can text-danger"
                    title="Quitar como favorito"
                    (click)="eliminarFavorito(anime.nombre)"></i>
                <i id="play" class="fa-solid fa-circle-play text-success"></i>
                <a id="nombre" [routerLink]="['/anime', anime.nombre]">
                    {{ anime.nombre }}
                </a>
            </div>
        </li>
    </ul>
</div>
