#titulo {
    color: rgb(23, 33, 120);
    border-bottom: 3px solid rgb(255, 157, 122);
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #212529;
    font-size: 1.5rem;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(23, 33, 120);
}

a:active {
    text-decoration-line: underline;
    text-decoration-color: rgb(23, 33, 120);
    color: rgb(23, 33, 120);
    font-weight: 500;
}

i {
    font-size: 1.5rem;
}

#remover {
    cursor: pointer;
    margin-right: 1.5rem;
}

#play {
    padding-right: 1rem;
}

img {
    width: 9rem;
}

@media (max-width: 430px) {
    #contenido {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    
}