<div class="container mt-4">
    <h4>Merchandising <i class="fa-solid fa-store ms-3"></i></h4>
    <ul class="list-unstyled">
        <li>
            <a href="https://kurogami.com/" target="_blank">
                <img id="kurogami" class="mt-2" src="/Imagenes/logo-Kurogami.jpg" alt="Logo Kurogami">
            </a>
        </li>
        <li>
            <a href="https://www.akibamarket.com" target="_blank">
                <img id="akibamarket" class="mt-4" src="/Imagenes/logo-Akibamarket.png" alt="Logo Akibamarket">
            </a>
        </li>
        <li>
            <a href="https://www.banpresto.es/" target="_blank">
                <img id="banpresto" class="mt-4" src="/Imagenes/logo-Banpresto.jpg" alt="Logo Banpresto">
            </a>
        </li>
    </ul>
</div>
