a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(23, 33, 120);
}

a:active {
    text-decoration-line: underline;
    text-decoration-color: rgb(23, 33, 120);
    color: rgb(23, 33, 120);
    font-weight: 500;
}