<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container position-relative">
        <ul id="enlaces" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                    routerLink="sobre-anime-phix"
                    routerLinkActive="active">
                    Sobre AnimePhix
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    routerLink="terminos"
                    routerLinkActive="active">
                    Términos y Condiciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    routerLink="politica-privacidad"
                    routerLinkActive="active">
                    Política de privacidad
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    routerLink="reportar-problema"
                    routerLinkActive="active">
                    Reportar problema
                </a>
            </li>
            <li class="nav-item position-absolute end-0" id="redesSociales">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www.instagram.com/anime_phix/"
                            target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://x.com/anime_phix"
                            target="_blank">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www.facebook.com/groups/535270719269156"
                            target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>