<div class="container">
    <button type="button"
        class="btn btn-success rounded distancia"
        (click)="modificarNombre()">
        <i class="fa-solid fa-pen me-2"></i>
        Modificar nombre
    </button>
    <button type="button"
        class="btn btn-success rounded"
        (click)="actualizarPassword()">
        <i class="fa-solid fa-key me-2"></i>
        Actualizar contraseña
    </button>
    <button type="button"
        class="btn btn-success rounded"
        (click)="cambiarImagen()">
        <i class="fa-solid fa-image me-2"></i>
        Cambiar imagen
    </button>

    <button type="button"
        class="btn btn-danger rounded distancia"
        (click)="desabilitarUsuario()">
        <i class="fa-solid fa-user-slash me-2"></i>
        Darse de baja
    </button>
</div>
