<ul *ngFor="let episodio of listado; let i = index"
    class="list-unstyled ps-3">
    <li
        class="d-flex justify-content-between align-items-center px-3 py-2 mb-2 w-100">
        <a
            [routerLink]="['/anime', episodio.anime.nombre,'episodio', episodio.numEpisodio]">
            {{episodio.anime.nombre}} Nº{{episodio.numEpisodio}}
        </a>
        <div class="d-flex gap-2">
            <i class="fa-solid fa-pen text-success me-3"
                title="Editar"
                data-toggle="collapse"
                [attr.data-target]="'#collapse-' + padreIndex + '-' + i"></i>
        </div>
    </li>
    <div class="collapse" [id]="'collapse-' + padreIndex + '-' + i">
        <div class="card card-body">
            <form #miFormulario="ngForm"
                (submit)="actualizar(episodio); $event.preventDefault()"
                class="d-flex flex-column">
                <div class="estructura">
                    <label for="idAnime">Anime ID</label>
                    <input id="idAnime"
                        class="inputFormulario"
                        type="text"
                        [value]="episodio.anime.idAnime"
                        disabled>
                </div>
                <div class="estructura">
                    <label for="numEpisodio">Número de episodio</label>
                    <input id="numEpisodio"
                        class="inputFormulario"
                        type="text"
                        [value]="episodio.numEpisodio"
                        disabled>
                </div>
                <div class="estructura">
                    <label for="fechaLanzamiento">Fecha de lanzamiento
                        actual</label>
                    <input id="fechaLanzamiento"
                        class="inputFormulario"
                        type="text"
                        [value]="episodio.fechaLanzamiento | date:'dd-MM-yyyy'"
                        disabled>
                    <label for="nuevaFechaInicio">Nueva fecha de
                        lanzamiento</label>
                    <input id="nuevaFechaInicio"
                        class="inputFormulario"
                        type="date"
                        [(ngModel)]="episodio.fechaLanzamiento"
                        name="nuevaFechaLanzamiento">
                </div>
                <div class="estructura">
                    <label for="urlVideo">Dirección URL del video</label>
                    <input id="urlVideo"
                        class="inputFormulario"
                        type="text"
                        [(ngModel)]="episodio.urlVideo"
                        name="urlVideo"
                        minlength="3"
                        maxlength="500"
                        #urlVideoRef="ngModel">
                </div>
                <div *ngIf="urlVideoRef.invalid && urlVideoRef.touched"
                    class="error">
                    <p *ngIf="urlVideoRef.errors?.['minlength']">
                        Debe tener al menos 3 caracteres.
                    </p>
                    <p *ngIf="urlVideoRef.errors?.['maxlength']">
                        No puede superar los 500 caracteres.
                    </p>
                </div>
                <div class="estructura">
                    <label for="urlPoster">Dirección URL de la imagen del
                        video</label>
                    <input id="urlPoster"
                        class="inputFormulario"
                        type="text"
                        [(ngModel)]="episodio.urlPoster"
                        name="urlPoster"
                        minlength="3"
                        maxlength="500"
                        #urlPosterRef="ngModel">
                </div>
                <div *ngIf="urlPosterRef.invalid && urlPosterRef.touched"
                    class="error">
                    <p *ngIf="urlPosterRef.errors?.['minlength']">
                        Debe tener al menos 3 caracteres.
                    </p>
                    <p *ngIf="urlPosterRef.errors?.['maxlength']">
                        No puede superar los 500 caracteres.
                    </p>
                </div>
                <div
                    class="d-flex align-items-center justify-content-center">
                    <button id="botonActualizar"
                        type="submit"
                        class="py-2 rounded">
                        Actualizar
                    </button>
                </div>
            </form>

        </div>
    </div>
</ul>
